.jumbotron2{
    background-color: gray;
    position: relative;
    bottom: 50px;
    text-align: center;
}
h3.display-4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
.lead{
    text-align: left;
}
.form-control{
    position: relative;
    bottom: 20px;
    background-color:lightgray;
}
.searchbtn {
    position: relative;
    left: 450px;
    bottom: 5px;
    border-color: gray;
}