.jumbotron1{
    background-color: gray;
    margin-top: 50px;
    text-align: center;
    
}
h1.display-4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
.subHead{
    text-align: center;
}