.jumbotron3{
    background-color: gray;
    position: relative;
    bottom: 50px;
    text-align: center;
    height: auto;
}
.card-body{
    height: 200px;
    background-color: lightgray;
    margin: 10px;
}
.card2{
    position: absolute;
    left: 150px;
    top: 65px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* max-width: 400px; */
}
img{
    position: relative;
    right: 450px;
    bottom: 30px;
}
.deletebtn {
    position: relative;
    left: 450px;
    bottom: 5px;
    border-color: gray;
}

/* ----- */
